/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: #B0C4DE;
}
::-webkit-scrollbar-thumb {
    background-color: #8aa2c0;
    border-radius: 5px;
}
/* Navigation Bar */
nav ul li a.active {
    background-color: #8aa2c0;
    color: #000000;     
    }
    nav {
    background-color: #B0C4DE;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    }
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    nav ul li {
    flex: 1;
    }
    nav ul li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    }
    nav ul li a:hover {
    background-color: #566a8c;
    }
/* Footer */
footer {
    background-color: #B0C4DE;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    }
footer p {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    padding: 0 10px;
    }
/* Scrolling Banner */
.m marquee {
  padding: 0px;
}

.m p {
  display: inline-block; /* Allows content to be side-by-side */
  padding: 0 20px; /* Space between items */
}
/* Music Art */
#music-art, .album-cover {
position: fixed;
bottom: 0%;
right: 0%;
z-index: 1000;
min-width: 5%;
max-width: 7%;
height: auto;
background-color: black;
color: black;
}
.cd {
position: fixed;
bottom: 0%;
right: 1%;
z-index: 999;
min-width: 5%;
max-width: 7%;
height: auto;
-webkit-animation: spin 2s linear infinite;
-webkit-animation:spin 4s linear infinite;
-moz-animation:spin 4s linear infinite;
animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
100% {
-webkit-transform: rotate(360deg);
transform:rotate(360deg);
}
}
.cd:hover { /* this makes the cd stop spinning when hovering! */
-webkit-animation: pop 0.3s ease;
}
.album-text {
    position: fixed;
    color: rgb(0, 0, 0);
    text-shadow: #FFFFFF 1px 1px 2px;
    font-size: 90%;
    text-align: center;
    z-index: 1000;
    bottom: 0%;
    right: 2%;
}
.album-text:hover {
    color: rgb(255, 255, 255);
    text-shadow: #000000 1px 1px 2px;
    cursor: pointer;
}
/* Update Table */
.update-table {
    border-collapse: collapse;
    background-color: #FFF;
    margin: 20px auto;
}
th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}
thead {
    background-color: #B0C4DE;
}
/* Body */
.bg {
    /* font-family: "Indie Flower", normal; */
    background-color: #FFF0F5;
    padding-top: 10px; /* Add padding to prevent content from going under the fixed nav bar */
    margin: 0;
}
    /* Colors
    lavender: #E6E6FA
    lightsteelblue: #B0C4DE
    snow: #FFFAFA
    ghost blue: #F8F8FF
    white smoke: #F5F5F5
    lavender blush: #FFF0F5
    */
/* Main */
.main-content {
    color: black;
    background-color: #FFF0F5;
    margin: 0;
}
/* Poca Database */
.album {
    display: block;
    border: 0px solid #000;
    background-color: #FFF0F5;
    width: 95%;
    text-align: center;
    margin-top: 50px;
}
.member {
  text-align: center;
}
    .member>div {
        display: inline-block;
        text-align: center;
        width: fit-content;
        max-width: 10%;
        min-width: 10%;
        margin: 0px;
        padding: 0px;
        font-size: 100%;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        border-radius: 0px;
        vertical-align: top;
        border: 1px solid #000;
        border-bottom: 0px;
}
.poca {
    display: block;
    border: 1px solid #000;
    border-top-width: 0px;
    background-color: #fff;
    max-width: 82.5%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}   
.ot8poca {
    display: block;
    border: 1px solid #000;
    border-top-width: 0px;
    background-color: #fff;
    max-width: 92.9%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.rachapoca {
    display: block;
    border: 1px solid #000;
    border-top-width: 0px;
    background-color: #fff;
    max-width: 30.7%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.duopoca {
    display: block;
    border: 1px solid #000;
    border-top-width: 0px;
    background-color: #fff;
    max-width: 20.5%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.titlepoca {
    display: block;
    border: 1px solid #000;
    background-color: #fff;
    max-width: 82.5%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
/* Font */
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Buttons */
button {
    background-color: #8aa2c0;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #566a8c;
}
link {
    color: #FFFFFF;
    text-decoration: none;
    }
link:visited {
    color: #FFFFFF;
    }
/* text colors */
.pink-text {
    color: rgb(209, 141, 152);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    /* background-color: white; */
}

.gold-text {
    color: rgb(187, 162, 20);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    /* background-color: white; */
}
/* Background Video */
.background-video-wrapper {
  color: #fff;
  background: #000;
  text-align: center;
  position: relative;
  video {
    opacity: 0.5;
    background: #000;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .copy {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 10vmax 4rem;
  }
}
.background-video-wrapper { /* Fade */
  color: #fff;
  background: #000;
  text-align: center;
  position: relative;
  video {
    opacity: 0.5;
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .copy {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1vmax 4rem;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    font-weight: 400;
  }
}
