/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: #B0C4DE;
}
::-webkit-scrollbar-thumb {
    background-color: #8aa2c0;
    border-radius: 5px;
}
/* Navigation Bar */
nav ul li a.active {
    background-color: #8aa2c0;
    color: #000000;     
    }
    nav {
    background-color: #B0C4DE;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    }
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    nav ul li {
    flex: 1;
    }
    nav ul li a {
    display: block;
    width: 100%;
    color: #000000;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    }
    nav ul li a:hover {
    background-color: #566a8c;
    }
/* Scrolling Banner */
.m marquee {
  padding: 0px;
}

.m p {
  display: inline-block; /* Allows content to be side-by-side */
  padding: 0 20px; /* Space between items */
}
/* Music Art */
#music-art, .album-cover {
position: fixed;
bottom: .5vw;
left: .5vw;
z-index: 1000;
width: 6vw;
height: auto;
color: black;
font-size: 1.5vw;
cursor: pointer;
border-radius: 1vw;
}
.play-pause{
position: relative;
z-index: 1000;
width: 2.5vw;
height: auto;
margin-left: 1.5vw;
margin-bottom: 1vw;
height: auto;
-webkit-animation: spin 2s linear infinite;
-webkit-animation:spin 4s linear infinite;
-moz-animation:spin 4s linear infinite;
animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
100% {
-webkit-transform: rotate(360deg);
transform:rotate(360deg);
}
}
.album-text {
    position: relative;
    z-index: 1000;
    color: rgb(0, 0, 0);
    text-shadow: #FFFFFF 1px 1px 2px;

}
.album-text:hover {
    color: rgb(255, 255, 255);
    text-shadow: #000000 1px 1px 2px;
    cursor: pointer;
}
/* Update Table */
.update-table {
    border-collapse: collapse;
    background-color: #FFF;
    margin: 20px auto;
}
th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}
thead {
    background-color: #B0C4DE;
}
/* Body */
.bg-top {
  background-color: #FFF0F5;
}
.background {
    /* font-family: "Indie Flower", normal; */
    background-color: #FFF0F5;
    padding-top: 20px; /* Add padding to prevent content from going under the fixed nav bar */
    margin: 0%;
}
    /* Colors
    lavender: #E6E6FA
    lightsteelblue: #B0C4DE
    snow: #FFFAFA
    ghost blue: #F8F8FF
    white smoke: #F5F5F5
    lavender blush: #FFF0F5
    */
/* Main */
.hide {
  display: none !important;
}

.show {
  display: block !important;
}
.home-page {
  display: block;
}

.about-page {
  display: none;
  font-size: 1.25vw;
  padding: 1vw;
}
.about-page p, .about-page h1, .contact-page h1, .footer-nav {
  text-align: center;
}
.contact-page {
  display: none;
  font-size: 1.25vw;
  padding: 1vw;
}
/* Poca Database */
.album {
    display: block;
    border: 0px solid #000;
    width: auto;
    text-align: center;
    margin-top: 2.5vw;
    font-size: 1.75vw;

}
.member {
  text-align: center;
  display: flex;
  justify-content: center;
}
    .member>div {
        display: inline-block;
        text-align: center;
        max-width: 10vw;
        min-width: 10vw;
        margin: .2vw;
        padding: 0%;
        font-size: 1.75vw;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        border-radius: 0px;
        vertical-align: top;
        border: 1px solid #000;
}
.poca {
    display: block;
    border: 1px solid #000;
    background-color: #fff;
    min-width: fit-content;
    max-width: 20vw;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75vw;
}
/* Font */
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Buttons */
.button-form {
    background-color: #8aa2c0;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #566a8c;
}
link {
    color: #FFFFFF;
    text-decoration: none;
    }
link:visited {
    color: #FFFFFF;
    }
/* text colors */
.pink-text {
    color: rgb(209, 141, 152);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    /* background-color: white; */
}

.gold-text {
    color: rgb(187, 162, 20);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    /* background-color: white; */
}
/* Background Video */
.background-video-wrapper {
  color: #fff;
  background: #000;
  text-align: center;
  position: relative;
  video {
    opacity: 0.5;
    background: #000;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .copy {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 10vmax 4rem;
  }
}
.background-video-wrapper { /* Fade */
  color: #fff;
  background: #000;
  text-align: center;
  position: relative;
  video {
    opacity: 0.5;
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .copy {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1vmax 4rem;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    font-weight: 400;
  }
}
/* Scroll to Top Button */
#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  z-index: 99;
  font-size: 1.5vw;
  border: none;
  outline: none;
  background-color: #8aa2c0;
  color: white;
  cursor: pointer;
  padding: 1vw;
  border-radius: 1vw;
}
#scrollToTopBtn:hover {
  background-color: #566a8c;
}